# Compiled Object files
*.slo
*.lo
*.o
.deps
.libs
Distribution_folder

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
*.vcxproj.filters
*.vcxproj.user
Debug
Release
ReleaseWin32
Debugx64
Releasex64
x64
.vs
*.VC.db
*.pdb
tmp/*.*
CVS
log1
log2