[Unit]
Description=Handles file level locking for the cvsnt server
After=network.target

[Service]
Type=simple
LOCKFILE=/var/lock/subsys/cvslockd
PIDFile=/run/cvslockd.pid
OOMScoreAdjust=-100
ExecStart=/usr/bin/cvslockd -n
Restart=on-failure

[Install]
WantedBy=multi-user.target

