[Unit]
Description=CAFS CVS server
After=network.target

[Service]
Type=simple
PIDFile=/run/cvsnt-cafs.pid
LimitNOFILE=128000
OOMScoreAdjust=-100
EnvironmentFile=-/etc/sysconfig/cvsnt-cafs
ExecStart=/usr/bin/cafs_server $DIR_FOR_ROOTS $ALLOW_TRUST $ENCRYPTION $BLOB_OTP $NOREPACK $PORT
User=cvs
Group=cvs
Restart=on-failure
KillSignal=SIGINT


[Install]
WantedBy=multi-user.target

