#
# Repository definitions (0..n)
#
# Each definition is in two parts.  The first (RepositoryXX) defines the real path
# on the server, and the second (RepositoryXXName) defines the path that the client sees.
#
# If the name is missing then it is assumed to be equal to the path
#
# After adding repositories it may be necessary to restart the lockserver to
# update the mdns broadcast information.
#
# One repository may have RepositoryXXDefault set.  This is used as
# the default repository for autoconfiguring clients.
#
# A repository may be marked temporarily offline by setting its Online setting to 0. 
#
# Proxy support:
# Set RepositoryXXType to: 2 (full proxy), or 3 (write proxy)
# Set RepositoryXXRemoteServer to remote server name
# Set RepositoryXXRemoteRepository to remote repository name
# Set RepositoryXXRemotePassphrase to remote passphrase
# Set RepositoryXXProxyPhysicalFiles to a 'local' repository for the proxy server administration files
# Set RepositoryXXProxyPasswdFiles to 1=use passwd file from RepositoryXXProxyPhysicalFiles, 0=use passwd from RepositoryXX


#Repository0=/usr/local/cvs
#Repository0Name=/cvs
#Repository0Description=My Repository
#Repository0Default=1
#Repository0Publish=1
#Repository0Online=1
#Repository1=/usr/local/cvs-other
#Repository1Name=/other
#Repository1Description=My other Repository
#Repository1Publish=1
#Repository1Online=1

#
# Encryption  0=Don't force encryption,
#	      1=Request authentication,
#	      2=Request encryption,
#	      3=Require authentication,
#	      4=Require encryption
#
#EncryptionLevel=0

#
# Compression 0=Don't force compression
#	      1=Request compression
#	      2=Require compression
#
#CompressionLevel=0

#
# CertificateFile  PEM certificate for use with sserver
# PrivateKeyFile   PEM certificate for use with sserver
#
#CertificateFile=/etc/ssh/cvsnt.pem
#PrivateKeyFile=/etc/ssh/cvsnt.pem

#
# ServerPassphrase Passphrase used for server synchronisation
#
#ServerPassphrase=

#
# NoReverseDns	   Disable Reverse lookups by the server to help broken
#		   DNS setups.
#		   This causes LockServer to report bare IP addresses.
#		   It is recommended that the DNS is fixed rather thani
#		   using this option.
#
#NoReverseDns=0

#
# LockServer	   Default lock server location.  Can be overridden by
#		   LockServer directive in individual repositories.
#
#LockServer=localhost:2402

#
# LockServerLocal  If enabled lockserver only listens on local machine for
#		   connections (default)
#
#LockServerLocal=1

# Compatibility levels - currently:
# 0 = Legacy cvs (cvshome.org cvs, eclipse)
# 1 = cvsnt (cvsnt client, wincvs, tortoisecvs, etc.)

#
# Compat<n>_OldVersion	Pretend to be a Unix CVS version (1.11.1).  Keeps some
#                  	picky frontends happy (eg. Eclipse)
#Compat0_OldVersion=0

#
# Compat<n>_HideStatus	Hide extended stats/log information (mergepoints, commit ids, etc.)
#                  
#Compat0_HideStatus=0

#
# Compat<n>_OldCheckout	Implement the old '-n update' behaviour 
#                  
#Compat0_OldCheckout=0

#
# Compat<n>_IgnoreWrappers	Ignore and cvswrappers/-W commands generated by the client
#                  
#Compat0_IgnoreWrappers=0

#
# WinbindWrapper   Enable SSPI server functionality by using the winbind 
#  		   authentication wrapper
#WinbindWrapper=/usr/bin/ntlm_auth --helper-protocol=squid-2.5-ntlmssp

#
# Chroot           Force all user operations within chroot jail 
#
#Chroot=/usr/local/cvs-jail

#
# RunAsUser        Force running as a specified user rather than the client user
#
#RunAsUser=nobody

#
# AllowTrace       Allow a client to trace the server (default off)
#
#AllowTrace=1

#
# Locale	   Override default locale setting for server
#
#Locale=en_GB.UTF-8

#
# ResponderName   Set Zeroconf publication type.  Default dependent on platform.
#
# none - No publication
# default - Use platform default
#
# If different from above uses names of installed mdns helper libraries
#
#ResponderName=default

#
# ServerName       Autoconf/mDNS name of server
#		   Defaults to hostname
#
#ServerName=CVSNT

#
# ReadOnlyServer   Set entire server as read only
#
#ReadOnlyServer=1

#
# AllowedClients   Regular expression of client versions allowed to connect
#                  Legacy CVS and CVSNT versions <2.0.58 do not send this data
#
#AllowedClients=^CVSNT 2\.5\.01.*

#
# RemoteInitRoot   Allow existing repository administrators to issue remote
#                  'cvs init' commands.  Repositories will be placed in this
#                  directory.
#RemoteInitRoot=/var/tmp/repos

#
# AnonymousUsername Username that anonymous logins are allowed with, if any.
#
#AnonymousUsername=cvs

#
# AnonymousProtocol Protocol that anonymous logins use.  Defaults to pserver.
#
#AnonymousProtocol=pserver

#
# Audit plugin settings
# Enabled when AuditTrigger=1 in the Plugins file

# Database credentials - dbname, username and password
# Note: for oracle the DatabaseName is the name in tnsnames.ora
#       or if you are not running TNS Listener then it is the 
#       complete connection string, eg:
# AuditDatabaseHost=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = w2kora9.march-hare.local)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = oratst9.marchhare)))
#
#
# AuditDatabaseName=
# AuditDatabasePassword=
# AuditDatabaseUsername=

# Database engine
#
# Taken from installed databases
#
# AuditDatabaseEngine=

# Database specific environment variables
#
# AuditDatabase_XXXX
#
# Example entries
#
# AuditDatabase_mysql_PREFIX - Table prefix
# AuditDatabase_oracle_SCHEMA - Schema to use
# AuditDatabase_oracle_home - ORACLE_HOME to use (install location)
# AuditDatabase_oracle_TABLESPACE=CVSNT
# See docs. of database

# Audit logging flags
#
#AuditLogSessions=0	# All server connections/commands
#AuditLogCommits=0	# Log changes due to commits
#AuditLogDiffs=0	# Store diffs in commit log
#AuditLogTags=0		# Log tagging operations
#AuditLogHistory=0	# Log cvs history

#
# Email plugin settings
# Enabled when EmailTrigger=1 in the plugins file

# Default email domain for unqualified usernames
#
#EmailDomain=

# SMTP host to send email to
# Use either MailCommand or MailServer, not both.
#
#MailServer=

# Command to execute to send mail, takes mail as its standard input
# Use either MailCommand or MailServer, not both.
#
#MailCommand=

#
# CertificatesOnly   Require a valid client certificate for sserver
#
# 0 - Require a password only
# 1 - Require a certificate only
# 2 - Require a password and a certificate
#
#CertificatesOnly=0

#
# Shared secret allow encryption
# it must be the same on cafs server and cafs proxies
#
#BlobOTP=SomeSampleSecretOfLengthNotLessThan32Symbols

#
# This DNS should resolve to local cafs server or cafs proxy inside a private network, but not in VPN.
# If we are in VPN, it should resolve to address of public proxy(proxies)
# It is possible to add more than one address for round robin BlobEncryptedURL1,BlobEncryptedURL2,...etc
# inside a client
#
#BlobEncryptedURL0=<some_dns_name>

