<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id="mfc42">
        <DirectoryRef Id="COMMON_INSTALLDIR" FileSource="$(var.CVSNT_BASE)\sysfiles\">
            <Component Id="Mfc42" Guid="4c6028e1-f924-44cc-9811-7f7a9e52cd84" DiskId="1">
                <File Id="mfc42.dll" Name="mfc42.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>

