<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id="mfc71">
        <DirectoryRef Id="COMMON_INSTALLDIR" FileSource="$(var.CVSNT_BASE)\sysfiles\">
            <Component Id="Mfc71" Guid="a755c1a3-07c9-4fe6-a2a1-5e393cc835a7" DiskId="1">
                <File Id="mfc71.dll" Name="mfc71.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>

