<?xml version="1.0" encoding="utf-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment Id="mfc71u">
        <DirectoryRef Id="COMMON_INSTALLDIR" FileSource="$(var.CVSNT_BASE)\sysfiles\">
            <Component Id="Mfc71u" Guid="3bc61cb6-11c5-4d8d-a77f-ada1671018dc" DiskId="1">
                <File Id="mfc71u.dll" Name="mfc71u.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>

