*.lo
*.[oa]
*.l[oa]
*~
*.cache
.libs
src/cvsnt
src/options.h
run_script/cvsscript
cvslockd
stamp-h2
version_check
libltdl
libtool
./m4
*-SAVED
configure
Makefile.in
Makefile
aclocal.m4
config.h.in
compile
depcomp
config.guess
config.sub
install-sh
ltmain.sh
m4/*
m4
missing
mkinstalldirs
INSTALL
config.sub
config.h
config.h.in
protocols/ntlm/test-driver
stamp-h1.in
protocols/ntlm/libntlm.pc
protocols/ntlm/libntlm.spec
protocols/ntlm/ntlm.h
redhat/cvsnt.spec
